<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Reviews Hub</title>
</head>
<body>
    <form method="GET" action="/search">
        <input type="text" name="q" placeholder="features...">
        <input type="text" name="sku" placeholder="sku">
        <input type="submit" value="Search">
    </form>   

    <form method="GET" action="/visualize" target="_blank">
        <input type="text" name="p" placeholder="comparison phrase">
        <input type="text" name="sku" placeholder="sku">
        <input type="submit" value="Search">
    </form>  
</body>
</html>